@inherits LayoutComponentBase

<div class="app-container bg-dark text-white min-vh-100 d-flex flex-column">
    <header class="navbar navbar-expand-lg navbar-dark bg-black px-4 shadow-sm sticky-top">
        <a class="navbar-brand fw-bold fs-4 text-gold" href="/">Tudu</a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarContent">
            <ul class="navbar-nav ms-auto align-items-center gap-lg-3">
                <li class="nav-item">
                    <NavLink class="nav-link text-light" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-light" href="/tasks">Tasks</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-light" href="/auth/logout">Logout</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-light" href="/auth/register">Register</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-light" href="/auth/login">Login</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </header>

    <main class="flex-grow-1 px-3 px-lg-4 py-4">
        <article class="container-fluid">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="alert alert-danger position-fixed bottom-0 start-0 m-3 shadow d-none">
    An unhandled error has occurred.
    <a href="" class="reload text-light text-decoration-underline">Reload</a>
    <button class="btn-close dismiss ms-2" aria-label="Close"></button>
</div>
