<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tudu</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/tasks" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Tasks
                    </NavLink>
                </Authorized>

                <NotAuthorized>
                    <NavLink class="nav-link" href="/auth/register">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="/auth/logout" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Logout
                    </NavLink>
                </Authorized>

                <NotAuthorized>
                    <NavLink class="nav-link" href="/auth/login">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

