@page "/auth/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager
<p>Logging out...</p>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;
    const string AuthScheme = "tudu-auth";
    protected override async Task OnInitializedAsync()
    {
        await HttpContext.SignOutAsync(AuthScheme);
        NavigationManager.NavigateTo("/auth/login", replace: true);
    }
}