@page "/auth/login"
@using BlazorAuthNoIdentity
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject IUserService UserService
@inject NavigationManager Navigation

<EditForm Model="@loginRequest" method="Post" OnValidSubmit="@HandleLogin" FormName="@LoginForm" >
    <InputText @bind-Value="loginRequest.UserName" />
    <InputText @bind-Value="loginRequest.Password" type="password" />
    <InputCheckbox @bind-Value='RememberMe' class="form-check-input" />
    <button type="submit">Login</button>
</EditForm>

@code {

    private const string LoginForm = "Login-Form";

    private bool RememberMe = false;

    [SupplyParameterFromForm(FormName = LoginForm)]
    private LoginRequest loginRequest { get; set; } = new();

    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;

    const string AuthScheme = "tudu-auth";

    private async Task HandleLogin()
        {
        var result = await UserService.LoginAsync(loginRequest);
        if (!result.Success)
            {

            return;
            }

        LoggedInUserModel user = new LoggedInUserModel(result.Id, result.UserName);

        var claims = user.ToClaims();
        var identity = new ClaimsIdentity(claims, AuthScheme);
        var principal = new ClaimsPrincipal(identity);

        var authProperties = new AuthenticationProperties
                {
                IsPersistent = RememberMe
                };

        await HttpContext.SignInAsync(AuthScheme,principal,authProperties);
        Navigation.NavigateTo("/tasks", forceLoad: true); 
    }
}
