@inject HttpClient Http
@inject NavigationManager NavigationManager

<button @onclick="Logoutt">Logout</button>

@code {
    private async Task Logoutt()
    {
        await Http.PostAsync("/api/logout", null);
        NavigationManager.NavigateTo("/auth/login", forceLoad: true);
    }
}
